* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #F5F7FA;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header_parent {
 /* background-color: antiquewhite; */
    width: 1152px;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}


header div {
    gap: 14px;
}

#login {
    padding: 10px 20px;
    color: #4CAF4F;
    background-color: white;
    border: 0;
    border-radius: 6px;
}
#singup {
    padding: 10px 20px;
    background-color: #4CAF4F;
    color: white;
    border: 0;
    border-radius: 6px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;

}

h1 + p {
    font-size: 4rem;
    color: #4CAF4F;
}

.bgc_grey {
    width: 100%;
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
}

#lessons_and_insights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1152px;
    padding: 96px 0;
}

#text_section1 {
    padding-bottom: 1rem;
}

#text_section1 + p {
    padding-bottom: 2rem;
}

#register {
    padding: 10px 20px;
    background-color: #4CAF4F;
    color: white;
    border: 0;
    border-radius: 6px;
}

#our_clients {
    display: flex;
    flex-direction: column;
    width: 1152px;
    gap: 20px;
}

#text_section2 {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text_section2 h2 {
    padding-bottom: 0.5rem;
}

#logoclients {
    width: 1152px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

#who_is_nextcent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1152px;
}

#who_is_nextcent h2 {
    text-align: center;
    padding-bottom: 0.5rem;
}

#cardsparent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1152px;
    padding-top: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 299px;
    height: 280px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.041);
    border-radius: 4px;
    gap: 1rem;
}

div h3 {
    font-size: 28px;
    text-align: center;
}

h3 + p {
    text-align: center;
    font-size: 14px;
}

#the_unseen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1152px;
    padding: 40px 0;
}

#text_the_unseen p {
    font-size: 14px;
}

#text_the_unseen_padding p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.learnmore {
    padding: 10px 20px;
    background-color: #4CAF4F;
    color: white;
    border: 0;
    border-radius: 4px;
}

#helping_a_local {
    display: flex;
    flex-direction: row;
    width: 1152px;
    padding: 75px 0;
    justify-content: space-between;
}

.allcards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allcards div {
    display: flex;
    flex-direction: row;
}

#cardstop {
    margin-bottom: 40px;
}


.cards2 {
    display: flex;
    flex-direction: row;
    width: 255px;
    gap: 1rem;
}

.cards2 div {
    display: flex;
    flex-direction: column;
    width: 255px;
}

.font2rem {
    font-size: 2rem;
}

.font1-75rem {
    font-size: 1.75rem
}
#p_business {
    color: #4CAF4F;
    font-size: 36px;
}

#text_helping_a_local {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#how_to_design {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
    width: 1152px;
    padding: 70px 0;
}

#text_how_to_design p {
    margin: 2rem 0;
}

#tim_smith {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1152px;
    display: flex;
    margin: 0 144px;
    gap: 78px;
    padding: 70px 0;
}

#text_tim_smith {
    display: flex;
    flex-direction: column;

}

#text_tim_smith h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #4CAF4F;
    font-size: 1.25rem;
}

#socialmedias {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

#socialmedias span {
    display: flex;
    align-items: center;
}

#socialmedias span a {
    color: #4CAF4F;
}

#all_img {
    display: flex;
    flex-direction: row;
    gap: 2.7rem;
}

#caring_is_the_new_marketing {
    width: 1152px;
    margin-bottom: 200px;
}

#caring {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#caring p {
    width: 50%;
    text-align: center;
    margin-bottom: 45px;
}

#all_articles {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.absolute {
    background-color: white;
    position: absolute;
    top: 65%;
    width: 317px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgb(163, 163, 163) 0px 0px 10px;
    height: 200px;
    font-size: 0.6rem;
    gap: 1rem;
}

#all_articles article {
    display: flex;
    flex-direction: column;
    width: 368px;
    gap: 1rem;
    align-items: center;
}

#all_articles article h3 {
    font-size: 1.4rem;
}

#all_articles article a {
    color: #4CAF4F;
    font-size: 1.25rem;
}

#caring_is_the_new_marketing article span{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#get_a_demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#get_a_demo p {
    font-size: 3rem;
    font-style: bold;
    text-align: center;
}

#get_a_demo button {
    padding: 10px 20px;
    background-color: #4CAF4F;
    color: white;
    border: 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer {
    width: 100%;
}

footer img {
    width: 100%;
}